{% extends 'base.html'%}

{%block 'content'%}
<section id="acerca" style="background-color: rgb(253, 253, 253);" class="container text-center my-5 d-none d-md-block">
    <h2 class="display-3 fw-medium my-4">Acerca de</h2>
        <div class="container" id="quienes somos" style="background-color: B5C18E;">
            <div class="row" >
             <div class="col-12 col-md-4">
                <div class="card" style="background-color:#B5C18E;">
                    <div class="card-body">
                        <h5 class="card-header" id="avion" style="background-color: B5C18E;"><i class="fa-solid fa-utensils"></i></h5>
               
                <p class="my-3 mt-5"> 
                    El flan es un postre lácteo tradicional, típico de nuestra gastronomía. 
                    Se prepara normalmente con huevos enteros, leche y azúcar. 
                    El sabor más común es simplemente el de vainilla, pero existen muchas 
                    otras variaciones que incluyen almendras, pistacho, limón y otras variedades de frutas.
                </p>
                     </div>
                </div>
            </div>
                 <div class="col-12 col-md-4">
                    <div class="card" style="background-color: #B5C18E;">
                        <div class="card-body">
                     <p class="my-3 mt-5">
                        El flan es un postre que debe también destacar por su alto aporte energético, 
                        y es que al utilizarse azúcar en su elaboración la cantidad de hidratos de
                         carbono es elevada, aportando a nuestro organismo la fuerza necesaria para
                          poder afrontar el día a día.
                    </p>
                    <div class="card-footer border-secondary"id="mountain" style="background-color:#B5C18E;"><i class="fa-solid fa-utensils"></i></div>
                        </div>
                        </div>
                </div>
                 <div class="col-12 col-md-4">
                    <div class="card" style="background-color: #B5C18E;">
                        <div class="card-body" >
                    <h5 class="card-header" style="background-color:#B5C18E;" id="maps" ><i class="fa-solid fa-utensils"></i></h5>
                    
                     <p class="my-3 mt-5">
                        Su origen se remonta a siglos antes de Cristo, y ya era elaborado con huevo como
                        ingrediente principal de la receta, por fenicios, griegos y romanos, que entonces
                        lo llamaban Tyropatina.
                        Durante la Edad Media se continuó consumiendo, sobre todo en Cuaresma, cuando ciertos
                        alimentos estaban prohibidos,y fue entonces cuando comenzó a elaborarse con azúcar y
                        caramelo, tal como lo conocemos ahora.
                        Aunque fue a partir del siglo VII que empezó a popularizarse en diferentes países, 
                        ya que en ese momento se le dio el nombre de Flan. 
                 </p>
            </div>
            </div>
            </div>
            </div>
         </div>
        </div>
    </section>
         {% endblock %}